<h1 class="text-6xl lg:text-8xl w-fit mb-2 overflow-ellipsis" [style.background]="bg"
    [style.-webkit-background-clip]="'text'" [style.-webkit-text-fill-color]="'transparent'">Welcome.</h1>
<span class="text-xs md:text-sm lg:text-base font-thin leading-6 block px-3">
    <p>Im Max (HelixOW). A Fullstack Developer operating out of Magdeburg, Germany. My work has long since evolved from
        producing minecraft plugins back in 2014.</p>
    <p>Over the years my focuses have centered around backend development with Go and Javascript. However I'm still
        sharp with Frontend Development using Angular</p>
</span>