<h1 class="text-6xl w-fit" [style.background]="bg" [style.-webkit-background-clip]="'text'"
    [style.-webkit-text-fill-color]="'transparent'">Welcome.</h1>
<span class="text-sm font-thin leading-6 block">
    <p>My name is Max aka. HelixOW, I'm a fullstack developer based in Magdeburg, Germany. I have
        started off with Minecraft plugins in 2014 but have since evolved.</p>
    <p>My main focus is on backend development with Go and Typescript, but I also have experience
        with frontend development using Angular.</p>
</span>